.container
  .row
    .col-md-4
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('.sign_up', :default => "Sign up")
        .panel-body
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f|
            = f.input :firstname, autofocus: true, class: "form-control"
            = f.input :lastname, class: "form-control"
            = f.input :email, class: "form-control"
            = f.input :password, class: "form-control"
            = f.input :password_confirmation, class: "form-control"
            = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary"
      = render "devise/shared/links"
    .col-md-4
