.container
  .row
    .col-xs-2
    .col-xs-8
      %h3
        = @author.firstname
        = @author.lastname
      %h5
        %p.well.well-sm{:align => "justify"}= @author.biography
      %h5
        %p= t('authors.find_book')
        - @author.books.each do |book|
          %p
            %span.glyphicon.glyphicon-book
            = link_to book.title, book
    .col-xs-2
