.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('settings.customer', :default => "Edit #{@customer.to_s.humanize}")
        .panel-body
          = simple_form_for(@customer, :as => :customer, :url => registration_path(@customer), :html => { :method => :put }) do |f|
            = f.input :firstname, autofocus: true, class: "form-control", required: false
            = f.input :lastname, class: "form-control", required: false
            = f.input :email, class: "form-control"
            %i
              (#{t('settings.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")})
            %br/
            = f.input :password, :autocomplete => "off", class: "form-control"
            %br/
            = f.input :password_confirmation, class: "form-control"
            %i
              (#{t('settings.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes')})
            = f.input :current_password, class: "form-control"
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
      %p
        = t('settings.unhappy', :default => 'Unhappy')
        ? #{link_to t('settings.cancel_my_account', :default => "Cancel my account"), registration_path(@customer), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete}.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('settings.billing_address', :default => "Billing Address")
        .panel-body
          = simple_form_for @billing_address, url: customer_update_billing_address_path, :html => { :method => :put } do |f|
            = f.input :firstname
            = f.input :lastname
            = f.input :address
            = f.input :city
            = f.input :country_id, collection: @countries
            = f.input :zipcode
            = f.input :phone
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('settings.shippin_address', :default => "Shipping Address")
        .panel-body
          = simple_form_for @shipping_address, url: customer_update_shipping_address_path, :html => { :method => :put } do |f|
            = f.input :firstname
            = f.input :lastname
            = f.input :address
            = f.input :city
            = f.input :country_id, collection: @countries
            = f.input :zipcode
            = f.input :phone
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
