.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('settings.customer', :default => "Edit Personal Data")
        .panel-body
          = simple_form_for(@customer, :as => :customer, :url => update_personal_data_customer_path, :html => { :method => :patch }) do |f|
            = f.input :firstname, autofocus: true, class: "form-control"
            = f.input :lastname, class: "form-control"
            = f.input :email, class: "form-control", required: true
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
      .panel.panel-default
        .panel-heading
          %h4= t('settings.password', :default => "Edit Password")
        .panel-body
          = simple_form_for(@customer, :as => :customer, :url => update_password_customer_path, :html => { :method => :patch }) do |f|
            = f.input :password, :autocomplete => "off", class: "form-control"
            = f.input :password_confirmation, class: "form-control"
            = f.input :current_password, class: "form-control"
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
      %p
        = t('settings.unhappy', :default => 'Unhappy')
        ? #{link_to t('settings.cancel_my_account', :default => "Cancel my account"), registration_path(@customer), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete}.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('settings.billing_address', :default => "Billing Address")
        .panel-body
          = simple_form_for @billing_address, url: update_billing_address_customer_path, :html => { :method => :put } do |f|
            = f.input :firstname
            = f.input :lastname
            = f.input :address
            = f.input :city
            = f.input :country_id, collection: @countries
            = f.input :zipcode
            = f.input :phone
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h4= t('settings.shippin_address', :default => "Shipping Address")
        .panel-body
          = simple_form_for @shipping_address, url: update_shipping_address_customer_path, :html => { :method => :put } do |f|
            = f.input :firstname
            = f.input :lastname
            = f.input :address
            = f.input :city
            = f.input :country_id, collection: @countries
            = f.input :zipcode
            = f.input :phone
            = f.submit t('settings.update', :default => "Update"), class: "btn btn-primary"
