.container
  .row
    .col-md-4
      = simple_form_for @credit_card, url: order_create_payment_path, method: :post do |f|
        = f.input :number
        %br
          = select_month(Date.today, use_month_numbers: true, prefix: 'credit_card', field_name: 'expiration_month')
          = select_year(Date.today, start_year: 2016, end_year: 2033, prefix: 'credit_card', field_name: 'expiration_year')
        %br
        = f.input :cvv
        %br= f.submit t("orders.save")
    .col-md-4
    .col-md-4

