.autopagerize_page_element
  .col-md-10
    .row
      - @books.each do |book|
        .col-sm-6.col-md-4
          .thumbnail.shop
            = link_to book do
              =image_tag(book.book_cover, class: "img-responsive center-block")
            .caption
              %h4.text-center.books-title= link_to truncate(book.title, length: 50), book
              %p.books-description{:align => "justify"}= truncate(book.description, length: 100)
              %h4.text-center.price= number_to_currency book.price
    .text-center
      = paginate @books
      = page_entries_info @books
  .col-md-2
    %h5= t('categories.shop_by_categories')
    %ul.list-group
      - @categories.map do |category|
        %li.list-group-item
          = link_to category.title, category
      %li.list-group-item
        = link_to t('categories.all_books'), books_path
      %li.list-group-item
        = link_to t('categories.all_categories'), categories_path
