.col-sm-2
.col-sm-8
  .col-md-12
    .visible-sm-block.text-center
      %h4
        - if text_title
          = book.title
        - else
          = link_to book.title, book
      %h5
        = t('books.by')
        - book.authors.map do |n|
          = link_to "#{n.firstname} #{n.lastname}", n
    .hidden-sm
      %h4
        - if text_title
          = book.title
        - else
          = link_to book.title, book
      %h5
        = t('books.by')
        - book.authors.map do |n|
          = link_to "#{n.firstname} #{n.lastname}", n
    .col-md-4
      =image_tag('no_img.png', class: "img-responsive center-block")
    .col-md-8
      %p#bestseller-description{:align => "justify"}
        = book.description
    %h4.form-inline.pull-right
      = number_to_currency book.price
      %input.form-control{:type => "text", :value => "1"}
      %button.btn.btn-primary{:type => "submit"}= t('books.add_to_cart')
.col-sm-2
