- if @books.nil?
  %h3.error.text-center= t('books.no_books_found')
- else
  .container
    .row
      #myCarousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "7000" }
        .carousel-inner{:role => "listbox"}
          - @books.each do |book|
            .item
              = render partial: "book", locals: {book: book, text_title: false}
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
          %span.sr-only= t('books.previous')
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
          %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
          %span.sr-only= t('books.next')
    .row
      .col-sm-4
      .col-sm-4
        %h4#welcome.text-center.alert.alert-info{:role => "alert"}
          = t('books.welcome')
      .col-sm-4
