- if @books.nil?
  %h3.error.text-center No books found
- else
  .container
    .row
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel", "data-interval" => "7000" }
        .carousel-inner{:role => "listbox"}
          - @books.each do |book|
            .item
              .col-sm-3
              .col-sm-6
                .col-sm-12
                  .visible-xs-block.text-center
                    %h4= link_to book.title, book
                    %h5
                      = t('books.by')
                      - book.authors.map do |n|
                        = link_to "#{n.firstname} #{n.lastname}", n
                  .hidden-xs
                    %h4= link_to book.title, book
                    %h5
                      = t('books.by')
                      - book.authors.map do |n|
                        = link_to "#{n.firstname} #{n.lastname}", n
                .col-sm-5.col-md-5
                  =image_tag('no_img.png')
                .col-sm-7.col-md-7
                  %p
                    #bestseller-description{:align => "justify"}
                      = book.description
                .col-sm-12
                  %h4.form-inline.pull-right
                    = number_to_currency book.price
                    %input.form-control{:type => "text", :value => "1"}
                    %button.btn.btn-primary{:type => "submit"}= t('books.add_to_cart')
              .col-sm-3
              %h4.col-sm-12
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next
  .container
    .row
      .col-sm-4
      .col-sm-4
        %h4.text-center
          = t('books.welcome')
      .col-sm-4
