- if @book.nil?
  %h3.error.text-center= t('books.no_books_found')
- else
  .container
    .row
      = render partial: "book", locals: {book: @book, text_title: true}
  .container
    .row
      .col-md-2
      .col-md-8
        = link_to 'Add review to this book', new_book_rating_path(@book)
        %h4 Reviews
        - @book.ratings.map do |r|
          = r.rating
          = "#{r.customer.firstname} #{r.customer.lastname}"
          = r.created_at.strftime("%B %d, %Y")
          .well.well-sm= r.review
      .col-md-2
