.container
  .row
    - if @cart.blank?
      .text-center.jumbotron.lead
        = t('cart.your_cart_empty')
    - else
      %table.table.table-hover
        %thead
          %tr
            %th
            %th= t('cart.book')
            %th.text-center= t('cart.price')
            %th.text-center= t('cart.qty')
            %th.text-center= t('cart.total')
            %th
        - @cart.each_pair do |book_id, qty|
          %tr
            %td= image_tag(order_item_book(book_id).book_cover, size: "50x82")
            %td
              %dl
                %dt= order_item_book(book_id).title
                %dd= truncate(order_item_book(book_id).description, length: 250)
            %td.text-center= number_to_currency order_item_book(book_id).price
            %td.text-center{id: "qty_#{book_id}"}= qty
            %td.text-center= number_to_currency order_item_price(qty, book_id)
            %td.text-center= link_to('×', remove_item_cart_path(item_id: book_id), method: :delete, class: 'close', id: book_id)
      - unless @cart.empty?
        %p.text-right
          %strong= t('cart.subtotal') + " #{number_to_currency @subtotal}"
        .col-md-4
          = link_to t('cart.empty_cart'), clear_cart_path, method: :delete, class: 'btn btn-danger'
          = link_to t('cart.continue_shoping'), books_path, class: 'btn btn-default'
        .col-md-4
        .col-md-4
          .pull-right
            = link_to t('cart.checkout'), checkout_cart_path, method: :post, class: 'btn btn-success'

