- if @cart.blank?
  = t('cart.your_cart_empty')
- @cart.each_pair do |book_id, qty|
  %br
    = "Book: #{order_item_book(book_id).title},
      Quantity: #{qty},
      Price: #{order_item_price(qty, book_id)}"
    = link_to('x', remove_item_cart_path(item_id: book_id), method: :delete)
- unless @cart.empty?
  %br= t("cart.subtotal") + " #{number_to_currency @subtotal}"
  = link_to(t('cart.empty_cart'), clear_cart_path, method: :delete)
  %br
  %br= link_to("CHECKOUT", checkout_cart_path, method: :post)
