.container
  .row
    - if @cart.blank?
      .text-center.jumbotron.lead
        = t('cart.your_cart_empty')
    - else
      = form_tag(cart_path, method: :patch) do
        %table.table.table-hover.cart
          %thead
            %tr
              %th
              %th= t('cart.book')
              %th.text-center= t('cart.price')
              %th.text-center= t('cart.qty')
              %th.text-center= t('cart.total')
              %th
          - @cart.each_pair do |book_id, qty|
            %tr
              %td= image_tag(order_item_book(book_id).book_cover, size: "50x82")
              %td
                %dl
                  %dt= order_item_book(book_id).title
                  %dd= truncate(order_item_book(book_id).description, length: 250)
              %td.text-center.cart_price= number_to_currency order_item_book(book_id).price
              %td.text-center.cart-qty{id: "qty_#{book_id}"}= number_field_tag book_id, qty,class: 'form-control', min: '1', max: '9'
              %td.text-center.cart_total= number_to_currency order_item_price(qty, book_id)
              %td.text-center.cart_remove= link_to('×', remove_item_cart_path(item_id: book_id), method: :delete, class: 'close', id: book_id)
        - unless @cart.empty?
          %p.text-right
            %strong.subtotal= t('cart.subtotal') + " #{number_to_currency @subtotal}"
          .col-md-4
            = link_to t('cart.empty_cart'), clear_cart_path, method: :delete, class: 'btn btn-danger'
            = link_to t('cart.continue_shoping'), books_path, class: 'btn btn-default'
          .col-md-6
            .form-inline.text-right
              .form-group
                = text_field_tag :coupon, nil, {class: 'form-control', id: 'coupon', placeholder: t('cart.coupon_code') + ' (1111 -20%)'}
              .form-group
                = submit_tag t('cart.update'), class: 'btn btn-primary btn-block'
          .col-md-2.text-right
            = link_to t('cart.checkout'), checkout_cart_path, method: :post, class: 'btn btn-success'

