%h4.form-inline.pull-right
  = simple_form_for @order_item do |f|
    = number_to_currency book.price
    = f.input :quantity, class: "form-control",
      input_html: { value: '1', min: '1', max: '99' }, label: false
    = f.hidden_field :book_id, value: book.id
    = f.button :submit, t('books.add_to_cart'), class: "btn btn-primary"
