%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .row
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false","data-target" => ".collapse.navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.glyphicon.glyphicon-menu-hamburger
        .navbar-brand The Bookstore
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "/"}= t('header.home')
          %li
            %a{:href => "/books"}= t('header.shop')
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "#"}= t('header.settings')
          %li
            %a{:href => "#"}= t('header.orders')
          / %li
          /   %a{:href => "#"}= t('header.sign_in')
          - if customer_signed_in?
            %li
              = link_to('Logout', destroy_customer_session_path, :method => :delete)
          - else
            %li
              = link_to(t('header.sign_in'), new_customer_session_path)
          - if customer_signed_in?
            %li
              = link_to('Edit registration', edit_customer_registration_path)
          - else
            %li
              = link_to('Register', new_customer_registration_path)
