%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .row
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false","data-target" => ".collapse.navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.glyphicon.glyphicon-menu-hamburger
        .navbar-brand The Bookstore
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "/"}= t('header.home')
          %li
            %a{:href => "/books"}= t('header.shop')
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to(cart_path) do
              %span.glyphicon.glyphicon-shopping-cart
              = t('header.cart') + " (#{cart_count})"
          - if customer_signed_in?
            %li
              %a{:href => "#"}= t('header.orders')
            %li
              = link_to(t('header.settings'), edit_customer_registration_path)
            %li
              = link_to(t('header.sign_out'), destroy_customer_session_path, :method => :delete, class: "btn btn-default navbar-btn")
          - else
            %li
              = link_to(t('header.sign_up'), new_customer_registration_path, class: "btn btn-success navbar-btn")
            %li
              = link_to(t('header.sign_in'), new_customer_session_path, class: "btn btn-default navbar-btn")
