!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title TheBookstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      .row
        .col-md-4
        .col-md-4
          %p.notice= notice
          - flash.each do |key, value|
            .alert.alert-danger.alert-dismissible{:role => "alert"}
              %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                %span{"aria-hidden" => "true"} &times;
              = value
        .col-md-4
    = yield
